<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maxime.fabrigli" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/doublebeer"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondeActivity"
            android:label="@string/title_activity_seconde" >
        </activity>
        <receiver android:name=".Notif" >
            <intent-filter>
                <action android:name="BEERS_UPDATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <activity android:name=".Recycler"
            android:label="@string/title_activity_seconde">
        </activity>

        <service
            android:name=".GetBiersServices"
            android:exported="false" >
        </service>
    </application>

</manifest>
